body{
    font-family: 'Merriweather', serif;
   width: 1120px;
}

.banner{
border-radius: 16px;

background-image: url('../resources/Banner Image.png');

width:1320px;
height: 600px;
flex-shrink: 0;
}

.banner-title{
    color: #fd0000;
    text-align: center;
    font-size: 32px;
    font-weight: 400; 
    padding-top: 177px;
}
.banner-content{
    color: #000000;
    width: 632px;
text-align: center;
padding-left: 344px;
font-size: 72px;
font-weight: 900;
line-height: 95px;
}
.title{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
}
.title-text{
    color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;
}
.title-content{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
}
.img{
    width: 802.9px;
height: 500px;
flex-shrink: 0;
text-align: center;
padding-left: 230px;
}
.banner-2{
    width: 642px;
    color: #ffffff;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
}
.banner-2-text{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.banner-1{
    display: flex;
    margin-top: 120px;
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
height: 600px;
flex-shrink: 0;

}
.img-1{
    display: flex;
width: 319.83px;
height: 464.662px;
padding: 68px 138px 67px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.banner-3{
    padding-top: 126px;
    padding-left: 126px;
    padding-bottom: 143px;
}
.text{
    color: #FFF;


font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.time{
    color: #F00;
    padding-top: 100px;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px; 
    text-transform: capitalize;
 
}
.span{
    color: #070211;
    font-size: 32px;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.btn{
    display: inline-flex;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
background: #F00;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
margin: 0px 557px 0px;
border: 0;
}
.text-content{
    width: 1320px;
    margin-top: 120px;
height: 482px;
flex-shrink: 0;
background-color: rgba(255, 228, 196, 0.492);
}
.best{
    display: flex;
    width: 1320px;
height: 463px;
margin-top: 120px;
}
.best-title{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.best-title-2{
    color: #070211;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.best-content{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;  
}
.best-2{
    padding-right: 70px;
}
.img-title{
   
}
.img-2{
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 463px;
border: 15px solid #F00;
padding: 40px 40px 40px 40px;
   
}
.year{
    color: #F00;
font-size: 48px;
font-weight: 700;

}
.year-content{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.img-3{
    width: 140px;
height: 140px;
flex-shrink: 0;
}
.img-4{
   
}
.img-5{
    width: 206.841px;
height: 206.841px;
flex-shrink: 0;
padding-top: 200px;
padding-left: 0px;
padding-right:-30px;
}
.img-6{
    width: 429px;
    height: 433px;
    flex-shrink: 0; 
    padding-right: 100px;
}
.title-year{
    padding-left: 105px;
}
.offer{
    width: 1320px;
height: 965px;
margin-top: 120px;
}
.gift{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.gift-content{
    color: #070211;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.gift-text{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.png{
  
}
.offer-title{
    color: #070211;
    text-align: center;
font-size: 24px;
font-weight: 500;
}
.offer-content{
    color: #F00;
text-align: center;
font-size: 72px;
font-weight: 900;
}
.offer-text{
    width: 800px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 32px;
padding-left: 250px;
}
.only-img{
    display: flex;
}
.feshon{

}
.title-fashon{
    width: 1320px;
    height: 1065px;
    margin-top: 120px;
}
.feshon-1{

    padding-right: 20px;
    padding-bottom: 24px;
}
.feshon-2{
   
    padding-right: 20px;
    padding-bottom: 24px;
}
.feshon-3{
    padding-bottom: 20px;
}
.feshon-4{
    padding-right: 20px;
}
.feshon-5{
    padding-right: 20px;
}
.ract{
    width: 1320px;
height: 616px;
flex-shrink: 0;
margin-top: 120px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
}
.ract-img{
    width: 150px;
height: 150px;
flex-shrink: 0;
padding: 80px 585px 40px 585px;

}
.ract-text{
    color: #070211;

text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.ract-content{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
padding-left: 212px;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.button{
    display: flex;
   justify-content: center;
    width: 68px;
height: 72px;
margin-left: 336px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;

}
.button-2{
    margin-left: 330px;
    padding: 25px 267px 25px 30px;
    border: 0;
    border-radius: 50px;
    width: 848px;
}
.Subscribe{
padding-top: 22px;  
border-radius: 0px 50px 50px 0px;
background: #F00;
width: 150px;
height: 42px;
flex-shrink: 0;
color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 600;
text-transform: capitalize;

}
.footer{
    width: 1320px;
    height: 609px;
flex-shrink: 0;
background:black ;
}
.footer-1{
    display: flex;
    
}
.footer-text{
    color: #FFF;
font-size: 24px;
font-weight: 500;
line-height: 40px; 
padding-top: 120px;
padding-left: 140px;
padding-right:290px;
}
.footer-content{
    color: #FFF;
font-size: 24px;
font-weight: 500;
line-height: 40px;
padding-right: 270px;
padding-top: 120px;
}
.footer-img{
    display: flex;
    gap: 20px;
    width: 64px;
height: 64px;
flex-shrink: 0;
padding-left: 515px;
padding-top: 90px;
}
.finish-2{
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
padding-left: 140px;
}
.finish-3{
    color: #FFF;
padding-left: 660px;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
}
.finish{
    display: flex;
}
